:root {
  --primary-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  color: #212529;
  margin-bottom: 50px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

.button-box { 
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.button-box div {
  margin: 20px;
}

.btn-main {
  padding: 20px;
  border: 1px solid var(--primary-color);
  text-decoration: none; 
  border-radius: 4px;
  display: inline-block;
  transition: 0.5s;
}

.btn-violet {
  color: #ffffff;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.btn-transparent {
  color: var(--primary-color);
}

.btn-violet:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.btn-transparent:hover {
  background-color: var(--primary-color);;
  color: #ffffff;
}

.email-link {
  font-size: 28px;
  text-decoration: none;
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 42px;
  }
  .btn-main.mt-5 {
    margin-top: 15px!important;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  .button-box {
    margin: 20px auto;
  }
  .mt-5 {
    margin-top: 20px!important;
  }

  .text-box {
    text-align: center;
  }
  
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 28px;
  }
}